## DATABASE ENVIROTMENTS ##
DATABASE_URL="postgresql://user:pass@localhost:5432/drivewise"

## JWT ENVIROMENTS ##
JWT_SECRET="your_jwt_secret"
JWT_TOKEN_AUDIENCE=http://localhost:3000
JWT_TOKEN_ISSUE=http://localhost:3000
JWT_TTL=600 #  10 minutos
JWT_REFRESH_TTL=604800 #  7 dias

## APPLICATION ENVIROMENTS ##
PORT=3000
MAPS_TOKEN="your_google_maps_api_key"
DISTANCE_MATRIZ_KEY="your_distance_matrix_api_key"
FRONT_END_URL=http://localhost:3001